.user {
  flex: 4;
  padding: 20px;
}

.userTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userButton {
  width: 80px;
  border: none;
  padding: 5px;
  background-color: teal;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 16px;
}

.userContainer {
  display: flex;
  margin-top: 20px;
}

.userShow {
  flex: 1;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px #000000;
  box-shadow: 0px 0px 15px -10px #000000;
}

.userTop {
  display: flex;
}

.userUpdate {
  flex: 2;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px #000000;
  box-shadow: 0px 0px 15px -10px #000000;
  margin-left: 20px;
}

.userTopImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.userTopRight {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.userTopRightUsername {
  font-weight: 600;
}

.userTopRightJobTitle {
  font-weight: 300;
}

.userBottom {
  margin-top: 20px;
}

.userBottomTitle {
  font-size: 14px;
  font-weight: 600;
  color: rgb(197, 195, 195);
}

.accountDetailItem {
  display: flex;
  align-items: center;
  margin: 20px 0px;
  color: #444;
}

.userBottomIcon {
  font-size: 18px !important;
}

.userBottomUsername {
  margin-left: 10px;
}

.userUpdateForm {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.userUpdateTitle {
  font-size: 24px;
  font-weight: 600;
}

.userUpdateItem {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
}

.userUpdateItem > label {
  margin-bottom: 5px;
  font-size: 14px;
}

.userUpdateInput {
  border: none;
  width: 250px;
  height: 25px;
  border-bottom: 1px solid gray;
}

.userUpdateRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.userUpdateRightUploadImg {
  display: flex;
  align-items: center;
}

.userUpdateRightImg {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 20px;
  margin-right: 10px;
}

.userUpdateRightButton {
  border: none;
  border-radius: 10px;
  padding: 7px 5px;
  cursor: pointer;
  background: darkblue;
  color: white;
  font-weight: 600;
}
