.navbar{
    width: 100%;
    color: white;
    font-size: 14px;
    position: fixed;
    top: 0;
    z-index: 999;
    background: linear-gradient(to top, transaparent 0%, rgb(0, 0, 0, 0.3) 50%);
   
    &.scrolled{
        background-color: var(--main-color);
    }

    .container{ 
        padding: 0px 50px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left{
            display: flex;
            align-items: center;
            // justify-content: space-between
            img{
                height: 25px;
                margin-right: 40px;
            }

            span{
                margin-left: 20px;
            }
        }

        .right{
            display: flex;
            align-items: center;

            .Icon{
                margin: 0px 15px;
                cursor: pointer;
            }
           
            img{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                object-fit: cover;
                cursor: pointer;
            }

            .dropDownContainer{

                .options  {
                    display: none; 
                    background: var(--main-color);
                    border-radius: 5px;

                    span{
                        padding: 10px;
                        cursor: pointer;
                    }
                }

                // pseudo class

                &:hover{ 
                    // on hovering it will affect - 
                    .options{ 
                        display: flex;
                        flex-direction: column;
                        position: absolute;
                    }
                }
            }
        }
    }
}